<section class="header parallax home-parallax page" id="HOME">
        <h2></h2>
        <div class="section_overlay">
            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                                <!-- LOGO -->
                            <img src="images/logo.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->
                            <h1>Luis Manuel Fernandez</h1>
                            <p>Pixel perfect design, created with love</p>

                            <div class="download-btn">
                            <!-- BUTTON -->
                                <a class="btn home-btn wow fadeInLeft" href="#DOWNLOAD">Download</a>
                                <a class="tuor btn wow fadeInRight" href="#ABOUT">Take a tour <i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1 col-sm-4">
                        <div class="home-iphone">
                            <img src="images/iPhone_Home.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>