/*modal fullscreen */
.modal.modal-fullscreen {
  .modal-dialog, .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .modal-dialog {
    margin: 0;
    width: 100%;
    animation-duration:0.6s;
  }
  .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
  }
}
.modal-content {
  button {
    font-size: 60px;
    font-weight: 400;
    width: 100px;
    height: 100px;
  }
}