.main {
  display: flex;
  -ms-flex-direction: column;
  height: 100vh;
  .content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    .content__block {
        text-align: right;
        padding: 20vh 5vw;
        position: absolute;
        z-index: 100;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 85%;
        height: 100%;
        padding: 3em 0 6em 7vw;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        .content__title {
            font-size: 7vw;
            line-height: 0.85;
            margin: 0;
        }
        .content__description{
            font-size: 2.25vw;
            margin: 1em 0;
            padding: 0 0 0 5vw;
        }
    }
    .content__block--current {
        pointer-events: auto;
        opacity: 1;
    }
  }
}
