/*---------------------------------------
   SECTION VIDEO
-----------------------------------------*/

.video_area {
    background: #e4e4e4;
    padding-bottom: 140px;
    padding-top: 120px;
}

.video_title {
    padding-bottom: 30px;
}

.video_title h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
    margin-top: 0px;
}

.video_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px;
    background: #f39c12;
    height: 1px;
}

.video_title p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
    color: #333;
    font-weight: 300;
}

.btn-video,
.btn-video:active,
.btn-video:focus,
.btn-video:visited {
    background: transparent;
    border: 1px solid #929292;
    color: #686868;
    border-radius: 3px;
    padding: 12px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.btn-video:hover {
    background: #f39c12;
    color: #fff;
    border: 1px solid #f39c12;
}

.video {}

.video iframe {
    width: 100%;
    border: 1px solid #999999;
    padding: 5px;
}